/* здесь используйте глобальные переменные */
$bg-basic-green: #68b738;
$bg-basic-grey: #f2f2f2;
$bg-color-social: #666666;
$bg-color-logo: #111111;
$special-grey: #cdcdcd;
$special-grey-2: #eaeaea;
$bg-basic-white: #ffffff;
$color-line-1: #d9d9d9;
$color-line-2: #ebebeb;
$color-line-3: #cdcdcd;
$color-line-4: #68b738;
$bg-color-1: #4f4d52;
$bg-color-2: #444348;

$color-text-primary: #000000;
$color-text-secondary: #444444;
$color-text-third: #222222;
$color-text-fourth: #ffffff;

$font-primary: "Lato", sans-serif;
$font-secondary: "Oswald", sans-serif;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
