.catalog-additional {
  margin: 0;
  padding: 0;
  position: relative;
}

.catalog-additional__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.catalog-additional__headline {
  font-family: $font-secondary;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $color-text-primary;
  width: 284px;
  padding-left: 20px;
  margin: 0;
  margin-left: -20px;
  margin-bottom: 33px;
  background-color: $bg-basic-white;


  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    font-weight: 400;
    width: 382px;
    margin-bottom: 80px;

    margin-left: 0;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    width: 456px;
    margin-left: -40px;
    margin-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $color-line-4;
    top: 8px;
    left: 0;
    z-index: -1;


    @media (min-width: $tablet-width) {
      top: 15px;
    }

    @media (min-width: $desktop-width) {
      top: 19px;
    }
  }
}

.catalog-additional__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    border: none;
    margin-bottom: 96px;
  }
}

.catalog-additional__item {
  border-bottom: 1px solid $color-line-3;
  padding-top: 13px;
  padding-bottom: 18px;
  display: flex;
  flex-direction: column;

  &:nth-child(1) {
    border-top: 1px solid $color-line-3;
  }

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 0 17px;
    margin: 0;
    width: 894px;
  }
}

.catalog-additional__title {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $color-text-third;
  margin: 0;
  margin-bottom: 13px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.catalog-additional__button {
  padding: 10px 109px;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 91px;
    margin-left: 39px;
  }
}


.catalog-additional__promo-text {
  font-family: $font-primary;
  font-size: 16px;
  line-height: 20px;
  color: $color-text-fourth;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 504px;
    padding-bottom: 12px;
    padding-right: 24px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 24px;
    padding-bottom: 3px;
  }

  &::before {
    position: relative;
    display: block;
    content: "";
    width: 78px;
    height: 80px;
    margin-bottom: 48px;
    transform: translate(-50%);
    background-image: url("../../icons/stack.svg#icon-promo");
    background-repeat: no-repeat;
    background-size: 78px 80px;
    left: 50%;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 82px;
      transform: none;
      margin: 0;
      left: -23px;
      bottom: 3px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 46px;
      height: 83px;
      left: 2px;
      bottom: -1px;
    }
  }
}

.catalog-additional__promo {
  position: relative;
  background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/catalog-background@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  align-items: center;
  min-height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/catalog-background@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    min-height: 200px;
    margin-bottom: 80px;
  }

  @media (min-width: $tablet-width) and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/catalog-background@2x.jpg");
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 288px;
  }
}
