.catalog-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 7px;
  padding: 20px 20px 25px;


  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    max-width: 324px;
    padding: 10px 37px 40px;
    align-items: center;
    background: linear-gradient(to bottom, $bg-basic-white 82px, $bg-basic-grey 82px);
  }

  @media (min-width: $desktop-width) {
    padding: 10px 38px 40px;
    max-width: 245px;
    background: linear-gradient(to bottom, $bg-basic-white 81px, $bg-basic-grey 81px);
  }
}

.catalog-card-plus {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 20px 25px;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    max-width: 324px;
    padding: 36px 37px 40px;
    margin-top: 83px;
    border: 2px solid $bg-basic-grey;
    background-color: $bg-basic-white;
  }

  @media (min-width: $desktop-width) {
    max-width: 245px;
  }
}

.catalog-card__title {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $color-text-third;
  margin: 0;
  margin-bottom: 14px;
  width: 76px;
  min-height: 40px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 21px;
    width: 135px;
    min-height: 48px;
    text-align: center;
    margin-left: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 21px;
    width: 140px;
    min-height: 49px;
    margin-left: 14px;
  }
}

.catalog-card-images {
  display: block;
  width: 140px;
  max-height: 107px;
  object-fit: cover;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 200px;
    max-height: 210px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    max-height: 210px;
    margin-bottom: 13px;
  }
}

.catalog-card__text {
  width: 140px;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 250px;
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    height: 167px;
    margin-bottom: 31px;
  }
}

.catalog-card-plus__wrapper {
  grid-column: 1/3;
  position: relative;
  width: 219px;
  margin: 0 auto;


  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 170px;
    margin: 0 auto;
    margin-top: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 50px;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    top: 5px;
    left: 95px;
    background-image: url("../../icons/stack.svg#plus");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;
      top: -53px;
      left: 55px;
    }

    @media (min-width: $desktop-width) {
      top: -40px;
    }
  }
}

.catalog-card-plus__title {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  color: $color-text-third;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 59px;
  margin-bottom: 7px;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 24px;
  }
}

.catalog-card-plus__description {
  font-family: $font-primary;
  font-size: 12px;
  line-height: 16px;
  color: $color-text-secondary;
  text-align: center;
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 82px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 91px;
  }
}

.catalog-card__button {
  grid-column: 1/3;

  &:hover {
    background-color: $bg-color-3;
  }

  &:active {
    background-color: $bg-color-3;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    padding: 10px 94px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 54px;
  }
}

.catalog-card-plus__button {
  grid-column: 1/3;

  @media (min-width: $tablet-width) {
    padding: 10px 94px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 54px;
  }

  &--grey {
    background-color: $bg-basic-grey;
    color: $color-text-secondary;

    @media (min-width: $tablet-width) {
      padding: 10px 78px;
    }

    @media (min-width: $desktop-width) {
      padding: 10px 38px;
    }
  }
}
