.copyright__link {
  display: block;
  width: 280px;
  height: 34px;
  position: relative;
  right: 0;
  font-family: $font-primary;
  font-size: 16px;
  line-height: 20px;
  color: $color-text-secondary;
  text-decoration: none;

  &:hover path,
  &:focus-visible path {
    fill: $bg-basic-green;
  }

  &:active {
    opacity: 0.3;
  }


  @media (min-width: $tablet-width) {
    margin: 0;
    width: 168px;
    padding-left: 4px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 132px;
    width: 295px;
  }
}

.copyright__logo {
  position: absolute;
  display: block;
  width: 27px;
  height: 34px;
  right: 0;
  bottom: 7px;
  color: $bg-color-social;

  &:hover,
  &:focus-visible path {
    color: $bg-basic-green;
  }

  &:active path {
    color: $bg-basic-green;
  }
}
