.instruction {
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {

    margin-bottom: 48px;

    border-bottom: 1px solid $color-line-5;
    padding-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    padding: 0;
    border: none;
  }
}

.instruction__title {
  font-family: $font-secondary;
  font-size: 36px;
  line-height: 40px;
  margin: -2px 0 38px;
  font-weight: 400;
  color: $color-text-primary;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 31px;
  }
}

.instruction__description {
  margin: 0;
  align-self: center;
  font-family: $font-primary;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}


.instruction__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  counter-reset: number;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 58px;
    row-gap: 36px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 76px;
  }
}

.instruction__item {
  position: relative;
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 20px;

  &--one {
    --images: url("../../icons/stack.svg#group-one");

    @media (min-width: $tablet-width) {
      --images: url("../../icons/stack.svg#group-one-tablet");
    }
  }

  &--two {
    --images: url("../../icons/stack.svg#group-two");

    @media (min-width: $tablet-width) {
      --images: url("../../icons/stack.svg#group-two-tablet");
    }
  }

  &--three {
    --images: url("../../icons/stack.svg#group-three");

    @media (min-width: $tablet-width) {
      --images: url("../../icons/stack.svg#group-three-tablet");
    }
  }

  &--four {
    --images: url("../../icons/stack.svg#group-four");

    @media (min-width: $tablet-width) {
      --images: url("../../icons/stack.svg#group-four-tablet");
    }
  }

  &::before {
    display: block;
    content: "";
    width: 60px;
    height: 60px;
    background-image: var(--images);
    background-repeat: no-repeat;
    background-size: 60px 60px;
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      background-size: 80px 80px;
    }
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    gap: 27px;
    width: 249px;
    min-height: 280px;
    padding-top: 40;
    padding-bottom: 57px;


    &::after {
      position: absolute;
      top: 0;
      left: 115px;
      font-family: $font-secondary;
      font-size: 280px;
      line-height: 280px;
      color: $bg-basic-grey;
      content: counter(number);
      counter-increment: number;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    gap: 31px;
    padding-top: 41px;
    padding-bottom: 57px;
  }
}
