.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
}

.main-nav__link {
  font-family: $font-secondary;
  font-size: 18px;
  line-height: 24px;
  color: $color-text-primary;
  text-decoration: none;
}

.main-nav__toggle {
  display: block;
  width: 18px;
  height: 18px;
  mask-image: url("../../icons/toggle-mobile.svg");
  mask-repeat: no-repeat;
  background-color: $color-text-primary;
}
