.main-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $bg-basic-grey;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;


  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 69px;
    padding-bottom: 66px;
  }
}

.main-footer__link {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  width: 280px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    border: none;
    margin: 0;
    padding: 0;
  }
}

.main-footer-images {
  display: block;
  width: 128px;
  height: 24px;
  margin-left: 76px;


  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 160px;
  }
}
