.navigation {
  display: flex;
  align-items: center;
}

.navigation__toggle {
  display: block;
  width: 24px;
  height: 24px;
  mask-image: url("../../icons/stack.svg#toggle-mobile");
  mask-repeat: no-repeat;
  background-size: 24px 24px;
  background-color: $color-text-primary;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  background-color: $color-text-fourth;


  @media (min-width: $tablet-width) {
    display: flex;
    gap: 33px;
    max-width: 470px;
  }

  @media (min-width: $desktop-width) {
    max-width: 600px;
    margin-right: 0;
    background-color: transparent;
    z-index: 1;
  }
}

.navigation__link {
  position: relative;
  display: block;
  font-family: $font-secondary;
  font-size: 18px;
  line-height: 24px;
  color: $color-text-primary;
  text-decoration: none;
  text-transform: uppercase;
  padding: 22px 10px 24px;
  text-align: center;

  &:hover {
    opacity: 0.6;
  }

  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 14px 0 12px;
    font-size: 18px;
    line-height: 24px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: normal;
    color: $color-text-fourth;

    &--catalog {
      color: $color-text-primary;
    }
  }
}
