.promo__wrappper-catalog {
  background-color: $bg-basic-grey;
}

.promo__text {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.promo__address {
  font-family: $font-primary;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: $color-text-secondary;
}
