.social {
  display: flex;
  justify-content: center;
  margin-bottom: 26px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
  border-bottom: 1px solid $color-line-1;

  @media (min-width: $tablet-width) {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 22px;
  }
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin: 0;
    min-width: 160px;
  }
}

.social__link {
  &--vkontakte {
    display: block;
    width: 28px;
    height: 22px;
    mask-image: url("../../icons/stack.svg#vkontakte");
    mask-repeat: no-repeat;
    background-color: $bg-color-social;
  }

  &--youtube {
    display: block;
    width: 28px;
    height: 22px;
    mask-image: url("../../icons/stack.svg#youtube");
    mask-repeat: no-repeat;
    background-color: $bg-color-social;
  }

  &--telegram {
    display: block;
    width: 28px;
    height: 22px;
    mask-image: url("../../icons/stack.svg#telegram");
    mask-repeat: no-repeat;
    background-color: $bg-color-social;
  }

  &:hover,
  &:focus-visible {
    background-color: $bg-basic-green;
  }

  &:active {
    background-color: $bg-basic-green;
    opacity: 0.3;
  }
}
